<p>
  <%= if current_user_id?(@conn, @post.user_id) do %>
    <span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
  <% end %>
  <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
</p>

<h1>Show Post #<%= @post.id %></h1>

<div>
  <img src="<%= Routes.post_path(@conn, :photo, @post) %>" alt="">
</div>

<div>
  <%= @post.body %>
</div>
